# Copy this file to `.env.local` for local dev.
# NOTE: Do NOT commit `.env.local`.

# Crossmint
NEXT_PUBLIC_CROSSMINT_API_KEY=
NEXT_PUBLIC_CROSSMINT_PROJECT_ID=
NEXT_PUBLIC_CROSSMINT_COLLECTION_ID=

# Base mainnet RPC
NEXT_PUBLIC_BASE_RPC_URL=https://mainnet.base.org
